<app-navbar></app-navbar>
<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-sm-12"  style="background-image: url('assets/img/bg/bg4.jpg');">
    <div>
        <div class=" pad-sides-60 match-height" >

        <h3 class="mb50">Qui sommes <span class="theme-accent-color">nous?</span></h3>
          <div class="col-sm-6">
        <p class="lead mb50" style="color: black;border: 5px;margin-bottom: 15%">
          Nous sommes un site web tunisien dédié au domaine médical. Il fournit une variété d'informations et de ressources
          pertinentes pour les professionnels de la santé et le grand public.<br> Sur notre site, vous pouvez trouver des
          articles médicaux, des conseils de santé, des informations sur les maladies, les traitements, les médicaments,
          ainsi que des annuaires de médecins et d'établissements de santé en Tunisie.<br> Le site vise à promouvoir la santé,
          l'éducation médicale et à faciliter l'accès à des informations fiables et actualisées dans le domaine de la médecine
          en Tunisie.</p>

      </div>
      </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
